@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
h1,h2,h4,h5,h6 {
    font-family:'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

#scrolling .nav-link::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: black;
    top: 100%;
    left: 10px;
    position: absolute;
    opacity: 1;
    transition: all 0.5s;
    margin: auto;
}
#scrolling .nav-link:hover::after{
    opacity: 1;
    width: 80%;
    background-color: black;
}
#scrolling .nav-link{
    position: relative;
}
#scrolling .nav-link .nav-link.active{
    color: black;
}



.ico-social a{
    width: 2rem;
    height: 2rem;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif ;
    font-weight: 700;
}
.nav-link {
    font-family: 'Montserrat', sans-serif ;
    color: #d6d6d6;
}

/* content */
.content{
    font-family:'Montserrat', sans-serif ;
    font-weight: 700;
}
.h{
    height: 30px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
    border-radius: 5px;
}
/* progressbar */
.fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas{
    width: 30px;
    height: 30px;
}
/* start home */
#home{
    background-image:url(../imgs/bg.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
   position: relative;
   align-items: center;
}
.layer{
   height: 100%;
    width: 100%;
    position: absolute;
}

#home h1 span{
    font-size: inherit;
    font-weight:400;

}

/* start About section */
.img{
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    background-position: center;
    width: 30rem;
}
.progress-bar{
    position: relative;
}
.progress-bar::after{
    content: "95%";
    right: 0;
    position: absolute;
   padding-right: 5px;
} 
.btn-about1 {
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
  }

  .btn-about1:hover {
    background-color: #fff;
    color: #000;
  }
  .btn-about2 {
    background-color: #fff;
    color: #000; 
    transition: background-color 0.3s, color 0.3s;
  }

  .btn-about2:hover {
    background-color: #000;
    color: #fff;
  }

.font{
    font-size: 14px;
    font-weight: 400;
}
.p-size{
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 15px;
    color: #748182;
}

/* start services section */
.main-title{
    position: relative;
}
.main-title::after{
    content: "";
    width: 20%;
    height: 30px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: -2;
}
.bg-gray{
   background-color:#f7f7f7 ; 
}
#sevices .serv-icon .fa{
    transition: all 1.5s;
}
#sevices .serv-icon .fa{
    width: 50px;
    height: 50px;
}
#services .serv-icon:hover .fa, .fa-brands{
    color: white;
}
#services .serv-icon:hover .bg-body-secondary {
    
    background-color: #1c1c1c !important;
}

/* shared style */
.icon{
    width: 4rem;
    height: 4rem;
}
/* Start portfolio section */
#portfolio .nav-pills .nav-link.active{
    background-color: white;
    color: black;
}
#portfolio .nav-pills .nav-link.active::after{
    width: calc(100% - 1.5rem);
    opacity: 1;
}
#portfolio .nav-link{
    color: black;
    position: relative;
}
#portfolio .nav-link::after{
    content: "";
    width: 20%;
    height: 2px;
    background-color: black;
    top:90%;
    left: 12px;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    margin: auto;
}

#portfolio .nav-link:hover::after{
    opacity: 1;
    width: 80%;
}
#portfolio .image img {
    transition: all 0.5s;
}
#portfolio .image:hover .img-layer{
    opacity: 1 !important ;
    top: 0 !important;
}
#portfolio .image .img-layer{
    transition: all 0.5s;
}

.width{
    width: 10%;
}
/* start team section */
.carousel-indicators [data-bs-target]{
    all: unset;
    width: 1rem;
    height: 1rem;
    background-color: #d6d6d6 ;
    opacity: 0.8;
    border-radius: 50%;
   margin-inline: 5px;
}
.carousel-indicators [data-bs-target]:hover{
    background-color: #869791;
}
.fa-solid, .fas {
    text-align: center;
}
#team .card-body {
    font-family:    'Montserrat', sans-serif  ;

}
.ico{
    width: 3.5rem;
    height: 3.5rem;

}
#team .card .img-layer{
    transition: all 0.7s;
}
#team .card:hover .img-layer{
    opacity: 1 !important ;
    top: 0 !important;
  transform: rotateY(360deg);
}
#team .social-icon:hover a{
    background-color: white !important;
    color: black !important;
}
#team .social-icon:hover .ico{
    background-color: white !important;
    color: black !important;
}
/* start contact section */
#contact .social-icon:hover .ico{
    background-color: black !important;
    color: white !important;
}
#contact .ico{
    transition: all 0.5s;
}

#contact .form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select .form textarea {
    height: 160px;
    max-height: 160px;
    max-width: 100%;
}

.container #contact{
    width: 75%;
    margin-left: 10rem;
}
/* start footer section */
.footer-color{
  background-color: #343434 ; 
  color: #748182;
}
